extends layout

block content
  h1= title
  p Nama : Salman Al Farisi
  p Sekolah/Instansi : Universitas Gadjah Mada
  p Jurusan : Magister Teknologi Informasi
  p Angkatan : 2017
  p Motivasi : Ingin lebih tahu tentang javascript
